body {
    background-color: #222;
}

#main {

}

#title {
    width: 600px;
    margin: 20px auto 0px auto;
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', arial, serif;
    font-weight: 100;
    font-size: 4em;
    color: #ddd;
}
#text {
    margin: 20px auto 0px auto;
    font-family: 'Josefin Sans', arial, serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #ddd;
    width: 600px;
}